h1 {
  font-family: "Roboto";
  font-weight: 500;
}

h2, .item a {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.2em;
}

h4 {
  font-family: "Roboto";
  font-weight: 200;
  margin-top: 0;
}

p {
  font-family: "Roboto";
  font-weight: 300;
}

.welcome p {
  font-size: 1.5em;
}

footer {
  font-family: "Roboto";
}