.cart {
  width: 80%;
  background: linear-gradient(to right, #ecab52, #935df5);
  opacity: 0.8;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  font-family: "Roboto";
  border-radius: 10px;
  margin-top: 50px;
  h2 {
    font-family: "Roboto";
    font-size: 2em;
    text-align: center;
    color: #fff;
  }
  table {
    width: 100%;
    text-align: center;
    tr {
      background-color: white;
    }
    td {
      font-size: 1.6em;
      height: 50px;
    }
    .table-titles td {
      font-weight: bold;
      font-size: 1.5em;
      padding: 10px 0;
    }
    #productAmount {
      width: 80px;
      height: 100%;
      text-align: center;
      font-size: 1.5em;
      border: none;
      margin: 5px;
      background-color: #f2f2f2;
      border-radius: 10px;
      outline: none;
    }
    #amountCell {
      display: flex;
      justify-content: space-around;
      button {
        outline: none;
        border: none;
        background-color: #fff;
      }
    }
  }
}

tfoot {
  text-align: center;
  td {
    background-color: #cecece;
    font-size: 1.4em;
    padding: 15px;
    font-weight: bold;
  }
}
#deleteAll {
  height: 30px;
  border-radius: 20px;
  border: solid 1px red;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #ecac5200;
  margin: 10px;
  color: black;
  transition-duration: 600ms;
  &:hover {
    color: red;
    transform: scale(0.9);
  }
}
form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  .names {
    display: flex;
    align-items: center;
    #fname,
    #lname {
      width: 50%;
    }
  }
  input[type="text"],
  input[type="email"] {
    font-size: 1em;
    padding: 5px;
    padding-left: 10px;
    border: none;
    border-radius: 50px;
    margin: 10px;
    outline: none;
  }
  .email {
    display: flex;
    align-items: center;
    padding-right: 10px;
    #email {
      width: 100%;
    }
  }
  .shipping {
    display: flex;
    align-items: center;
    #address {
      width: 70%;
    }
    #city {
      width: 30%;
    }
  }
}
#orderBtn {
  height: 30px;
  border-radius: 20px;
  border: none;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #ecab52;
  color: #fff;
  transition-duration: 600ms;
  &:hover {
    background-color: #f2f2f2;
    color: black;
  }
}
