.cart {
  width: 80%;
  background-color: $secbg-color;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  font-family: "Roboto";
  border-radius: 10px;
  margin-top: 50px;
  p {
    text-align: center;
    color: orangered;
    font-size: 1.3em;
  }
  h2 {
    font-family: "Roboto";
    font-size: 2em;
    text-align: center;
  }
  table {
    width: 100%;
    text-align: center;
    tr {
      background-color: white;
    }
    td {
      font-size: 1.4em;
    }
    .table-titles td {
      font-weight: bold;
      font-size: 1.5em;
      padding: 10px 0;
    }
    #productAmount {
      width: 60px;
      height: 100%;
      text-align: center;
      font-size: 1.1em;
      border: none;
      margin: 5px;
    }
    #amountCell {
      display: flex;
      justify-content: space-around;
      button {
        border: none;
        background-color: #fff;
        color: rgba(228, 35, 35, 0.609);
        margin-top: 5px;
        margin-bottom: 7px;
      }
    }
  }
}
