footer {
    display: flex;
    height: 100px;
    background-color: $secbg-color;
    margin-top: 10%;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    a {
        font-size: 1em;
        margin: 0px 20px;
        color: #000;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}