nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background-color: #fff;
  img {
    width: 30%!important;
  }
  a {
    cursor: pointer;
    outline: none;
    background-color: #fff;
    border: none;
    color: $sec-color;
    height: min-content;
    transition-duration: 400ms;
    &:hover {
      color: #ecab52;
    }
  }
}

.welcome {
  background-color: $secbg-color;
  padding: 20px;
  margin: 10px 20px;
  margin-top: 120px;
  text-align: center;
  border-radius: 5px;
  color: #000;
}